<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thoughts Become Things</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Top Bar
  * Different Colour
  * Might Function as a possible menu
  * Might hold logo in the left hand corner in the future
  * Possibly Navigation bar
  -->
  <div class="top-bar">
  </div>

  <!-- Main Banner -->
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1 class="main-header display-3">Thoughts Become Things</h1>
    <p class="logo-slogan lead">Coach | Consult | Train</p>
  </div>

  <!-- Intro Pane -->
  <app-scroll-pane
    paneHeader="Consult | Coach | Train"
    paneLogoPath="../../assets/transparent_colour_logo.png"
    paneContentAlignement="center"
    paneBackgroundColour="white"
    paneFontColour="#449ca4"
    paneTextContent="
    Enabling businesses to increase profit, maximise sales and have staff who are motivated to drive the business forward."
  ></app-scroll-pane>

  <!-- Consult Pane -->
  <app-scroll-pane
                   paneHeader="Consult"
                   paneLogoPath="../../assets/transparent_white_logo.png"
                   paneBackgroundColour="#449ca4"
                   paneBackgroundImagePath="../../assets/Consult.png"
                   paneFontColour="white"
                   paneTextContent="
    I need to find out about you, who you are, how your business operates. Get an understanding of
    the culture, systems and processes.<br>
    <br>
    Really listening to what you want to achieve is essential to this process before we work together. What do you want your future you and your future business to look and feel like?"
  ></app-scroll-pane>

  <!-- Coach Pane -->
  <app-scroll-pane
                   paneHeader="Coach"
                   paneLogoPath="../../assets/transparent_white_logo.png"
                   paneBackgroundColour="#E8983E"
                   paneBackgroundImagePath="../../assets/Coach.png"
                   paneFontColour="white"
                   paneTextContent="
    Once we’ve established where you want to be, I will help you get there. With any change process there will be barriers but those can be overcome.<br>
    <br>
    This is done by coaching you and your team through the change process, whatever that change is. This will limit the impact to the business and is a tried and tested model that works."
  ></app-scroll-pane>

  <!-- Train Pane -->
  <app-scroll-pane
                   paneHeader="Train"
                   paneLogoPath="../../assets/transparent_white_logo.png"
                   paneBackgroundColour="#d43c64"
                   paneBackgroundImagePath="../../assets/Train.png"
                   paneFontColour="white"
                   paneTextContent="
    Training is a really important part of the change process, as quite often you and your team will need new skills.<br>
    <br>
    My areas of training expertise is leadership, management and coaching, changing or adapting business models,
    conflict resolution, client segmentation (understanding who your clients are) and consultative sales."

  ></app-scroll-pane>

  <!-- Train Pane -->
  <app-scroll-pane
    paneHeader="Testimonials"
    paneLogoPath="../../assets/images/transparent_colour_logo.png"
    paneBackgroundColour="white"
    paneFontColour="#449ca4"
    paneTextContent="
    <i>'Susan is a supportive and talented coach who I wholeheartedly recommend. She has that rare combination of an
    extremely high EQ alongside a breadth of experience, training and insight that, combined, leads to great results
    for individuals and teams. Susan has a repertoire of effective styles, from supportive to directive, and is
    great working one-to-one and in seminars. I'm am sure Susan will enable many teams and entrepreneurs to 'fly'
    with her pragmatic, proven and well-timed approach'</i> - John Moore  <br>
    <br>
    <i>'I have worked with Sue as our Business Coach since we bought the business a year ago. Through this period of
    massive learning, she has been a huge support. Sue is able to give just the right level of advice for a situation
    without overloading. She always responds quickly with excellent advice, every time. If you are looking for calm,
    knowledgeable, and practical support as you grow your business, look no further'</i>  - Mike Keig"


  ></app-scroll-pane>

<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

  <!--Footer Links-->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!--First column-->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">tbtcandc</h6>
        <p>Consult. Coach. Train</p>
      </div>
      <!--/.First column-->

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p><a href="https://twitter.com/SusanJordan66">Twitter</a></p>
        <p><a href="https://www.linkedin.com/in/susan-jones-a270ba21/">LinkedIn</a></p>
        <p><a href="https://www.youtube.com/channel/UCp7ebTtH9B8DtsHvm59BEoQ/featured?disable_polymer=1">YouTube</a></p>
      </div>
      <!--/.Third column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p><i class="fa fa-envelope mr-3"></i>sue.jones@tbtcandc.co.uk</p>
      </div>
      <!--/.Fourth column-->

    </div>

    <!-- Footer links -->
    <hr>

    <div class="row py-3 d-flex align-items-center">
      <!--Grid column-->
      <div class="col-md-8 col-lg-8">
        <!--Copyright-->
        <p class="text-center text-md-left grey-text">© 2018 Copyright: <a href="tbtcandc.com"><strong>www.tbtcandc.com</strong></a></p>
        <!--/.Copyright-->
      </div>
      <!--Grid column-->

    </div>

  </div>

</footer>
<!--/.Footer-->


</body>
</html>
