html {
  min-height: 100vh;
}

body {
  background-color: white;
  height: 100vh;
}

.main-header, .main-slogan {
  color: white;
  font-family: "Montserrat-light";
  background-color: #449ca4;
  padding: 0px;
}

head {
  background-color: #449ca4;
}

.jumbotron {
  background-color: #449ca4;
  max-height: 30%;
  margin-bottom: 0%;
  padding-bottom: 5px;
}

.navbar {
  background-color: white;
  border-radius: 0px;
}

.side-image {
  max-height: inherit;
  float: left;
  max-height: 100px;
}

.top-bar {
  height: 10%;
  background-color: #70b6bd;
  margin: 0px;
}
.tbt-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-bottom: 0%
}
.tbt-nav-item {
  min-width: 200px;
  margin-bottom: 0%
}

.logo_image {
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-slogan {
  font-size: 30px;
  font-stretch: ultra-condensed;
  color: white;
}

.page-footer {
  background-color: #d43c64;
  text-color: white;
  font-size: 12px;

}

.footer-separator {
  width: 100vh;
}

.blog {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.intro_text {
  font-family: "Montserrat-ExtraLight";
  font-size: 12px;
}

.blog_header {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

a {
  color: white;
}

@font-face {
  font-family: 'Montserrat-light';
  src: url("../../assets/fonts/montserrat/Montserrat-light.otf");
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../assets/fonts/montserrat/Montserrat-ExtraLight.otf");
}

{
  color: #d43c64;
}



