* {
  font-family: Montserrat-light;
}

body {
  background-color: white;
  height: 100vh;
}

/* Responsive Sizing */

/* MAIN HEADER */
@media screen and (min-width: 601px) {
  .main-header-size {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .main-header-size {
    font-size: 25px;
  }
}

/* TOP BAR */
@media screen and (min-width: 601px) {
  .top-bar-size {
    height: 15%;
  }
}
@media screen and (max-width: 600px) {
  .top-bar-size {
    height: 5%;
  }
}
/* Responsive Sizing */

.top-bar {
  background-color: #70b6bd;
  margin: 0px;
}

/* Main Banner */
.jumbotron {
  background-color: #449ca4;
  border-radius: 0px;
}
.main-header {
  color: white;
  background-color: #449ca4;
  font-family: Montserrat-medium;
}
/* Main Banner */

/* Fonts */
@font-face {
  font-family: 'Montserrat-light';
  src: url("../../assets/fonts/montserrat/Montserrat-light.otf");
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../assets/fonts/montserrat/Montserrat-ExtraLight.otf");
}

@font-face {
  font-family: 'Montserrat-medium';
  src: url("../../assets/fonts/montserrat/Montserrat-medium.otf");
}

/* Fonts */


