* {
  font-family: Montserrat-light;
}

body {
  background-color: white;
  height: 100vh;
}

a {
  color: white;
}


/* Main Banner */
.jumbotron {
  background-color: #449ca4;
  border-radius: 0px;
}

.main-header, .main-slogan {
  color: white;
  background-color: #449ca4;
  font-family: Montserrat-medium;
}

.logo-slogan {
  color: white;
}

/* Empty bar at the top of the page */
.top-bar {
  height: 15%;
  background-color: #70b6bd;
  margin: 0px;
}

.page-footer {
  background-color: #d43c64;
  text-color: white;
  font-size: 12px;

}

@font-face {
  font-family: 'Montserrat-light';
  src: url("../../assets/fonts/montserrat/Montserrat-light.otf");
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../assets/fonts/montserrat/Montserrat-ExtraLight.otf");
}

@font-face {
  font-family: 'Montserrat-medium';
  src: url("../../assets/fonts/montserrat/Montserrat-medium.otf");
}


