* {
  font-family: Montserrat-ExtraLight;
  max-width: 100%;
}

h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
}
hr {
  max-width: 40%;
}

p {
  font-size: 25px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 40px;
  text-align: justify;
}

img {
  max-height: 1%;
}

div {
  width: 100%;
  margin: 0px;
}

.pane-logo {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.pane-text {
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  margin-top: 20px;
}

