/* RESPONSIVE SIZING */
/* RESPONSIVE SIZING */

/* COMPONENTS */
.text-frame {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  display: block;

  margin: 0px auto 50px auto;
  border: 10px solid #70b6bd;
  box-shadow: 10px 10px #449caf;
}
/* COMPONENTS */



