<div class="text-frame text-frame-size">
  <div class="container">
    <h1 class="header header-size">BRAND PROMISE</h1>
    <div class="row text text-size">
      <div class="col col-width">
        <ul>
          <h1 style="color: #449ca4" class="col-header col-header-size">Integrity</h1>
          <li>The principles that guide my service are openness, honesty and collaboration.</li>
          <li>I am completely focused on the best outcome for you and your business.</li>
        </ul>
      </div>
      <div class="col-md-auto col-width">
        <ul>
          <h1 style="color: #E8983E" class="col-header col-header-size">Clarity</h1>
          <li>Clear Objectives</li>
          <li>Clear systems and processes</li>
          <li>Clear communication</li>
        </ul>
      </div>
      <div class="col col-width">
        <ul>
          <h1 style="color: #d43c64" class="col-header col-header-size">Added Value</h1>
          <li>Increased profitability</li>
          <li>Increased efficiencies</li>
          <li>Increased productivity</li>
        </ul>
      </div>
    </div>
  </div>
</div>
