<div class="text-frame">
  <div class="container text-specs">
    <h1 class="info-header">Brand Promise</h1>
    <div class="row">
      <div class="col">
        <ul>
          <h1 style="color: #449ca4">Integrity</h1>
          <li>The principles that guide my service are openness, honesty and collaboration.</li>
          <li>I am completely focused on the best outcome for you and your business.</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <h1 style="color: #E8983E">Clarity</h1>
          <li>Clear Objectives</li>
          <li>Clear systems and processes</li>
          <li>Clear communication</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <h1 style="color: #d43c64">Added Value</h1>
          <li>Increased profitability</li>
          <li>Increased efficiencies</li>
          <li>Increased productivity</li>
        </ul>
      </div>
    </div>
  </div>
</div>
